doctype html
html
  head
  meta(charset = 'utf-8')
  meta(name='viewport', content="initial-scale=1.0, width=device-width")
  meta(name='theme-color', content='#999999')
  title Нямушка
  body
    div.wrapper
      include blocks/cat-food.pug
